# Dependencias y artefactos de Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de Entorno y Credenciales
###################################
# Evita subir CUALQUIER archivo con credenciales de entorno.
.env
.env.*
*.pem
*.key
/cert/

# Archivos de Logs y reportes
logs/
*.log
coverage/
uploads/

# Archivos de caché del SO / IDE
###################################
.DS_Store
Thumbs.db
.vscode/
.vscode-insiders/
.idea/

# Archivos de compilación y empaquetamiento
dist/
build/
*.tgz